<div class="background-92vh">
  <div class="container">
    <div class="new-post">
      <%= form_with model: @user do |f| %>
        
        <div class="new-youtube">
          <div class="new-youtube-label">
            <%= f.label :name %>
          </div>
          <div class="new-youtube-input">
            <%= f.text_field :name %>
          </div>
        </div>
        
        
        <div class="new-youtube">
          <div class="new-youtube-label">
            <%= f.label :email %>　※登録済みのEmailは使用できません。
          </div>
          <div class="new-youtube-input">
            <%= f.email_field :email %>
          </div>
        </div>
        
        <%= f.submit "更新", class: "btn submit" %>
      <% end %>
    </div>
  </div>
</div>