<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(new_post_path) || current_page?(new_user_path) || current_page?(login_path) %>
      <div class="background-100vh">
        <%= render 'layouts/header' %>
        <%= yield %>
      </div>
    <% else %>
      <div class="background">
        <%= render 'layouts/header' %>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
