<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <% if @current_user %>
        <%= link_to @current_user.name,"/users/#{@current_user.id}" %>
        <%= link_to "ユーザー一覧", "/users" %>
        <%= link_to "新規投稿","/posts/new" %>
        <%= link_to "投稿一覧","/posts" %>
        <%= link_to "ログアウト", "/logout" %>
      <% else %>
        <%= link_to "ログイン", "/login" %>
        <%= link_to "アカウント作成","/users/new" %>
      <% end %>
    </head>
    <%= yield %>
  </body>
</html>
