<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar">
        <% if @current_user %>
          <%= link_to @current_user.name,"/users/#{@current_user.id}", class: "nav" %>
          <%= link_to "ユーザー一覧", "/users", class: "nav"%>
          <%= link_to "新規投稿","/posts/new", class: "nav" %>
          <%= link_to "投稿一覧","/posts", class: "nav" %>
          <%= link_to "ログアウト", "/logout", class: "nav" %>
        <% else %>
          <%= link_to "ログイン", "/login", class: "nav" %>
          <%= link_to "アカウント作成","/users/new", class: "nav" %>
        <% end %>
      </div>
      
    </header>
    <%= yield %>
  </body>
</html>
